-
    var awardHeader = '#awards'
    var awardList = [
        {
            title: 'something',
            description: 'something',
            location: 'something',
            date: 'something'
        },
    ];
#award
.award
    //- ☐ trophy to tittle
    //- ☐ info to description
    //- ☐ map2 to location
    //- ☐ calendar to date
    .award__header=awardHeader
    each award in awardList
        .award__card
            .award__icon
                span.my-cv__icon--trophy
            .award__title=award.title

            .award__icon
                span.my-cv__icon--info
            .award__description=award.description

            .award__icon
                span.my-cv__icon--map2
            .award__location=award.location

            .award__icon
                span.my-cv__icon--calendar
            .award__date=award.date
