//- model, data
-
    var header = '#experience'
    var experienceList = [
      {
          title: 'Junior Web Developer',
          date: '2018 June-present',
          company: 'Bitbee',
          responsabilityList: [
              'I had to update websites using HTML5/CSS3',
              'Make sure that websites we create is Google-friendly, and use the SEO technics to reach the perfect position.',
              'Identify problems and solve them in a proper way',
          ]
      },
    ]
//- view, presentation
//- CSS "+" :checked
    input
    controlled container (div, or whatever)
#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")
    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experience__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability